services:
  fanout:
    image: jonasal/nginx-certbot:4-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./50-copy-conf.sh:/docker-entrypoint.d/50-copy-conf.sh:ro
      - ./conf.d:/etc/nginx/conf.d.ro:ro
      - ../letsencrypt:/etc/letsencrypt
    environment:
      - CERTBOT_EMAIL=letsencrypt.org@vincent-jacques.net
    depends_on:
      - draw-turks-head-demo

  draw-turks-head-demo:
    image: jacquev6/draw-turks-head-demo:20230310-150439
