# AWS credentials for 'gabby backup-database'
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# MistralAI API key from https://console.mistral.ai/api-keys
MISTRALAI_API_KEY=

# OpenAI API key from https://platform.openai.com/api-keys
OPENAI_API_KEY=

# Fill-in the password from 'POSTGRES_PASSWORD' in './patty-db.secrets.env'
PATTY_DATABASE_URL=postgresql+psycopg2://patty:<password>@patty-db/patty

# Pulse monitoring URLs from https://updown.io/checks
PATTY_DATABASE_BACKUP_PULSE_MONITORING_URL=
PATTY_SUBMISSION_DAEMON_PULSE_MONITORING_URL=

# A high-entropy secret
PATTY_SECRET_JWT_KEY=

# The the shared password, hashed with 'python -m patty hash-password'
PATTY_HASHED_PASSWORD=
